.alert {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: .5em 1em;
  margin: .5em 0;
  background: rgb(218, 218, 218);
}
.container-close {
  display: flex;
  justify-content: space-between;
}
.close {
  color: rgba(0,0,0,.5);
  display: block;
  padding: 0 8px;
  font-size: 2em;
  border: none;
  background: none;
  cursor: pointer;
  float: right;
  transition: .3s ease;
  &:hover {
    color: rgba(0,0,0,.8);
  }
}
.alert p {
  font-family: $font2;
}
.alert-success {
  background: $green;
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}